# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pkl

# Virtual envs
.env
.venv
*.egg-info/

# Data
data/raw/*
!data/raw/sample.csv   
data/processed/*
!data/processed/sample.csv  

# Jupyter
.ipynb_checkpoints/

# OS junk
.DS_Store
Thumbs.db

#models
models/